tr {
    text-align: center;
    width: 20em;
    background-color: white;
  }

td {
    height: 2em;
    border: 0.15em solid rgb(26, 25, 25);
    border-collapse: collapse;
}

.tabdatas {
    background-color: rgb(0, 110, 255) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
}

.coltitre {
    font-weight: bold;
    width: 9em;
    flex:1;
    background-color: rgb(0, 153, 255);
    color: #fff;
}

.active {
    color: darkgreen;
}

.inactive {
    color:brown;
}

img {
    max-width: 100%;
}

.input-name {
    width: 75%;
    margin-bottom: 0.3em;;
}

h1 {
    text-align: center;;
}

.btn-suppr {
    background-color: red;
    color:aliceblue;
    cursor: pointer;
    height: 75%;
    width: 75%;
}

.btn-enr {
    background-color: rgb(38, 0, 255);
    color:aliceblue;
    cursor: pointer;
    width: 75%;
}

.btn-cree {
    background-color: rgb(10, 118, 10);
    color:aliceblue;
    cursor: pointer;
    height: 3em;
}

.nom-cree {
    height: 3em;
}

.cree-sonde {
    background-color: rgb(0, 110, 255) ;
    display: flex;
    justify-content: center;
}

header {
    padding: 30px 0;
    background: rgb(0, 110, 255);
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(0, 153, 255);
    height: 100%;
}

.username {
    margin: 0;
    font-size: 30px;
    color: white;
    text-align: center;
}

.disconnect-btn {
    background: rgb(0, 153, 255);
    color: white;
    border: 0;
    border-radius: 26px;
    font-style: 15px;
    cursor: pointer;
}

button {
    background: rgb(0, 153, 255);
    color: white;
    border: 0;
    border-radius: 26px;
    font-size: 15px;
    cursor: pointer;
    padding : 10px 10px ;
}

#present-tab-sonde {
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.container-tab-sonde {
    position: relative;
    overflow-y: auto;
    padding-bottom: 2%;
    height:auto;
    margin: 20px 100px;
    border-radius: 26px;
    background-color: rgb(0, 110, 255);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 110, 255) ;
}

.ip-adress {
    color : white;
}
/* 
.container-footer {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
} */